{% extends 'base.html' %}




{% block content %}
    

    
    <!--About Us-->
    <div id="sheinternet-message" class="sheinternet-message" style="display: none;"></div>
    <section class="about-us">
        <div class="about-container">
            <h4 class="text-purple">OUR STORY</h4>
            <P>Across Africa, many women are leading change in their communities, and contributing to solving Africa's
                numerous challenges—teaching in rural schools, running health awareness campaings, advocating for gender
                equality, and driving social innovation. But then we want to equip them, as well as all that'll help
                them do their work, to be able to do more or scale their impact digitally without facing physical
                constraints.
            </p>

            <p>Despite having a burning passion to make a difference, without having the platform and the skills to lead
                and reach people globally, it becomes difficult to mobilize people, raise funds, or expand impact.</p>

            <p>SheInternet was born out of the need to bridge this gap. We saw how women working in the social
                sector—weather through NGO's, nonprofits, or grassroots initiatives or even small scale
                innovators—struggled to scale their efforts due to digital barriers. Inspired by their resillience, we
                set out to provide them with the tools they need to thrive. In our supports, we will equip these women
                with the knowledge, skills and confidence to tell their stories, build their influence, and be global
                leaders through digitals training, mentorship, and networking.</p>
    </section>

    <!--mission and vision-->
    <div class="mission-vison">
        <div class="container container-mv">
            <div class="mission card">
                <h3 class="text-purple">Our Mission</h3>
                <p>Our mission is to empower African women with access to the internet and transformational knowledge
                    that fuels their potential growth, equipping them with the skills, confidence and resources to lead,
                    advocate, and innovate.</p>
            </div>

            <div class="vision card">
                <h3 class="text-purple">Our Vision</h3>
                <p>To empower women across Africa by providng internet access and skill, enhancing them to launch 100+
                    social impact projects, drive policy change, and actively reduce Africa's challenges by 40% through
                    digital innovation, advocacy and collaboration.</p>
            </div>
        </div>
    </div>

    <!--Support-->
    <section class="program support-program-involved">
        <h2 class="text-purple">Who We Support</h2>
        <div class="container program-flex support">
            <div class="card">
                <h2>Community Leaders & advocates</h2>
                <p>Women Championing causes like gender equality, environmental sustainability, and social justice.</p>
            </div>

            <div class="card">
                <h2>Rural Educators</h2>
                <p>Women teaching in undeserved communities who need digital tools to enhance learning.</p>
            </div>

            <div class="card">
                <h2>Health Awareness campaigners</h2>
                <p>Women leading initiatives on public health, mental health, material care, and disease prevention.</p>
            </div>

            <div class="card">
                <h2>NonProfit & NGO Workers</h2>
                <p>Women working or voluntering in social impact organizations who need internet access for advocacy,
                    fundraising, and outreach.</p>
            </div>

            <div class="card">
                <h2>Social Enterpreneurs & Innovators</h2>
                <p>Women developing grassroots solutions to social problems in their communities.</p>
            </div>

            <div class="card">
                <h2>Aspiring Change—Makers</h2>
                <p>Women who want to start initiatives but lack the digital resources and skill to begin</p>
            </div>
        </div>
    </section>

    <div class="core-values-container">
        <div class="core-values-section">
            <div class="margin-bottom">
                <h3><i class="fas fa-arrow-right"></i>Core Values</h3>
                <ul class="core-values-list">
                    <li><i class="fas fa-arrow-right"></i>Empowerment</li>
                    <li><i class="fas fa-arrow-right"></i>Creativity</li>
                    <li><i class="fas fa-arrow-right"></i>Growth-mindset</li>
                    <li><i class="fas fa-arrow-right"></i>Passion</li>
                    <li><i class="fas fa-arrow-right"></i>Transformative Leadership</li>
                    <li><i class="fas fa-arrow-right"></i>Accountability</li>
                    <li><i class="fas fa-arrow-right"></i>Localization</li>
                    <li><i class="fas fa-arrow-right"></i>Culture-Awareness</li>
                </ul>
            </div>
        </div>
    </div>

    <!--Board of directors-->
    <div class="board-section">
        <h3 class="text-purple">Board Of Directors</h3>
        <p>SheInternet is guided by a dedicated Board of Directors commited to advancing our mission of empowering
            African women with internet access, digital tools and opportunities for growth. Our board members bring
            expertise in leadership, advocacy, social impact, and innovation, ensuring we provide the best support to
            women driving change in their communities.</p>
    </div>

    <!--meet the team-->
    <div class="team-section">
        <div class="team-content">
            <h2>Our Team</h2>
            <p>SheInternet is powered by a passionate team of changemakers dedicated to equipping women with the
                digitaltools and resources they need to lead and innovate . Together, we are building a future where
                African women can drive meaningful change in their communities</p>
           

            <div class="team-member">
                <a href="https://www.linkedin.com/in/akam-joshua-6a8531253" target="_blank">Akam Joshua</a>
            </div>

            <div class="team-member">
                <a href="https://www.linkedin.com/in/grace-chizaram-nwankpa-b49bb22a4" target="_blank">Grace chizaram Nwankpa</a>
            </div>
        </div>
    </div>
    <div id="sheinternet-message" class="sheinternet-message" style="display: none;"></div>
    <div class="joinform-popup" id="joinForm">
        <div class="form-container">
            <div class="flex-close">
                <span class="close-btn times" onclick="closeJoinForm()">&times;</span>
                <h2 class="text-purple">Joins Our Community</h2>
            </div>
            <form id="sheinternet-form" class="sheinternet-form" method="POST">
                
                {% csrf_token %}
                <label for="name">Full Name:</label>
                <input type="text" id="fname" name="name" placeholder="Full Name" required>
            
                <label for="email">Email:</label>
                <input type="email" id="femail" name="email" required>
            
                <label for="country">Country of Residence:</label>
                <input type="text" id="country" name="country" required>  <!-- Updated id to "country" -->
            
                <!--What best describes you-->
                <div class="form-group">
                    <label>What best describes you? <span class="required">*</span></label>
                    <div class="radio-group">
                        <label><input type="radio" name="description" value="Nonprofit founder/Leader">Nonprofit founder/Leader</label>
                        <label><input type="radio" name="description" value="Community Organizer/Advocate">Community Organizer/Advocate</label>
                        <label><input type="radio" name="description" value="Educator">Educator</label>
                        <label><input type="radio" name="description" value="Social Worker">Social Worker (Health Worker nonprofit or NGO worker etc)</label>
                        <label><input type="radio" name="description" value="Social Entrepreneur">Social Entrepreneur</label>
                        <label><input type="radio" name="description" value="Aspiring Changemaker">Aspiring Changemaker</label>
                        <label><input type="radio" name="description" value="other">Other: <input type="text" name="description"></label>
                    </div>
                </div>
            
                <!--What type of support are you most interested in-->
                <div class="form-group">
                    <label>What type of support are you most interested in? <span class="required">*</span></label>
                    <div class="radio-group">
                        <label><input type="radio" name="interested" value="Internet access & digital Tools">Internet access & digital Tools</label>
                        <label><input type="radio" name="interested" value="Mentorship">Mentorship</label>
                        <label><input type="radio" name="interested" value="Funding opportunities">Funding opportunities</label>
                        <label><input type="radio" name="interested" value="Networking & Collaboration">Networking & Collaboration</label>
                        <label><input type="radio" name="interested" value="Job or Talent matching">Job or Talent matching</label>
                        <label><input type="radio" name="interested" value="other">Other: <input type="text" name="interested"></label>
                    </div>
                </div>
            
                <!--How did you hear about SheInternet-->
                <div class="form-group">
                    <label>How did you hear about SheInternet? <span class="required">*</span></label>
                    <div class="radio-group">
                        <label><input type="radio" name="about" value="Social media">Social Media</label>
                        <label><input type="radio" name="about" value="Website">Website</label>
                        <label><input type="radio" name="about" value="Referral">Referral</label>
                        <label><input type="radio" name="about" value="Event">Event</label>
                        <label><input type="radio" name="about" value="other">Other: <input type="text" name="about"></label>
                    </div>
                </div>
            
                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </div>
    </div>

    {% endblock content %}

   