{% extends 'base.html' %}


{% load static %}




{% block content %}
    

    

    <!--Our Program-->
    <div class="container">
        <div class="program-section">
            <div class="program-image">
                <img src="{% static 'img/data.jpg' %}" alt="">
            </div>
            <div class="program-details">
                <h3 class="text-purple">2025 Data Support</h3>
                <p>The Data Support Program provides internet access to women who are leading change or aspiring to do
                    so—whether they are women passionate about leading change, educator. nonprofit workers, health
                    advocate,
                    grassroots leaders, or women passionate about launching new solutions. This program ensures they the
                    connectivity needed to:
                </p>
                <ul>
                    <li>Connect with donors, partners, and beneficiaries.</li>
                    <li>Access online learning and resources for personal and leadership growth.</li>
                    <li>Promote and scale their initiatives using digital platforms.</li>
                    <li>Research, develop, and launch innovative community solutions.</li>
                    <li>Stay informed and engaged with the global community.</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="eligibility">
        <div class="container eligibility-container">
            <h2>Who Can Apply</h2>
            <p>The Data Support Program is designed for women who are actively driving changes or have a strong desire
                to start impactful initiative. You can apply if you are:</p>
            <ul>
                <li><span>NonProfit & NGO Workers: </span>Women working or volunteering in NGOs, charities, or social
                    impact organizations who need internet access for advocacy, fundraising, and outreach.</li>
                <li><span>Community Leaders & Advocates: </span>Women Championing causes such as gender equality,
                    education, health, climate action, or social justice.</li>
                <li><span>Social Entrepreneurs & Innovators: </span>Women developing grassroots solution to communities
                    challenges and seeking online resources to grow.</li>
                <li><span>Aspiring Change—Makers: </span>Women who have vision for impact-driven work but lack internet
                    access to research, plan, or start their initiatives.</li>
                <li><span>Grass Root Organisers: </span>Women moblizing communities for local initiatives, policy
                    change, or social impact. </li>
                <li><span>Rural Educators & Trainers: </span>Women teaching in undeserved areas or leading training
                    programs and workshops.</li>
                <li><span>Health Awareness Campaigners: </span>Women running initiatives in maternal health, mental
                    health, public health awareness, or disease Prevention.</li>
                <li><span>Remote Workers in the Social Sectors: </span>Women working remotely for NGOs, nonprofits or
                    social enterprises who require stable internet for their work.</li>
            </ul>

            <p class="application-dates"></i>Application closes: <i
                    class="fas fa-calendar text-purple"></i><strong>April
                    30,
                    2025</strong>
            </p>
            <a href="https://forms.gle/74MTUA2cskZLbQdY6" target="_blank" class="register-btn">Apply Now</a>
        </div>
    </div>

    <!--How it works-->
    <div class="how-it-works-section">
        <div class="how-it-works-content">
            <h2>How It Works</h2>
            <ol class="steps-list">
                <li>
                    <h3>Apply For Data Support</h3>
                    <p>Fill out a short application form telling us about your workand internet needs.</p>
                </li>

                <li>
                    <h3>Review & Selection</h3>
                    <p>We evaluate applications based on impact, need, and feasibility.</p>
                </li>

                <li>
                    <h3>Receive Data Assistance</h3>
                    <p>Approved applicants receives mobile data support (internet sponsorship) for 12 months.</p>
                </li>
            </ol>
            <button class="apply-button"><a href="https://forms.gle/74MTUA2cskZLbQdY6" target="_blank">Apply Now</a></button>
        </div>
    </div>


    {% endblock content %}
    